/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* CSS Styles */
body {
  height: 100vh;
  display: flex;
}

/* Image Section */
.image-container {
  background-image: url(assets/tnf.jpg);
  height: 100%;
  background-repeat: no-repeat;
  width: 37%;
}

.heading {
  background-color: #0e1829b9;
  position: relative;
  top: 150px;
  padding-bottom: 10px;
}

h1 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
  color: #e7e7e7;
  text-align: center;
}

/* Content and Form Section */

.content-container {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 63%;
  color: #e7e7e7;
  background-color: #0e1829f0;
  /* padding: 80px 0; */
}

h2 {
  color: #e7e7e7;
  font-weight: 400;
  font-size: 2rem;
}

.content-container > h2 {
  padding: 50px;
}

.form-div {
  box-shadow: 1px 10px 28px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 1px 10px 28px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 1px 10px 28px -3px rgba(0, 0, 0, 0.63);

  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background-color: #182b4b;

  padding: 15px 50px;
}

.form-div h2 {
  margin-bottom: 20px;
}

.required-warning {
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 800;
  color: white;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-div {
  display: flex;
  gap: 90px;
}

.input-div p {
  display: flex;
  flex-direction: column;
}

form input {
  width: 350px;
  border: 0;
  border-bottom: 1px solid white;
  background-color: #182b4b;

  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px;
}

input + span {
  position: relative;
}

.password-warning {
  position: relative;
  top: 3px;
  font-size: 0.9rem;
  font-weight: 800;
  color: white;
}

input:required + span::before {
  content: "*";
  position: absolute;
  top: -60px;
  right: 0;

  color: white;
  font-weight: 900;
}

form button {
  margin-left: 50px;
  margin-top: 40px;
  padding: 10px 40px;

  border: 1px solid #e7e7e7;
  background-color: #182b4b;
  color: white;

  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #e7e7e7;
  color: #182b4b;
  transition: 0.3s;
}

.login {
  margin-left: 50px;
  margin-top: 40px;
  font-weight: 500;
}

.login a {
  text-decoration: none;
  font-weight: 800;

  color: white;
}

.login a:hover {
  border-bottom: 2px solid #e7e7e7;
}
